/*Master Styles*/
body {
    font-family:"Neucha", cursive;
    zoom:90%;
    margin:0px;
}


.container {
    display: grid;
    grid-template-columns: 1fr;  

}



/* NAV STYLES */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
}
.left {
    display: flex;
    justify-content: space-between;

}
.nav {
    margin: 10px;

}
.nav:hover {
    border-bottom: solid;
}

.name {
    margin: 10px;
}

/*Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-image-wrapper {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position:absolute;
    top:0;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    text-align:center;
    justify-content: center;
    align-content: center;



}

.overlay {
  position: absolute;
  bottom:0;  
  width:100%;
  height:0;
  background-color:cornflowerblue;
  overflow: hidden;

  transition: .5s ease;

}

.portfolio-item-wrapper:hover .overlay {
    height:100%
}

#floating-robot-logo {
    position: relative;
    
}

.subtitle-text {
    position:absolute;
    top: 250px;
    text-align: center;
    padding: 10px;

}

.aboutMe_container {
    display: flex;
    

}

.profile_image {
    margin-right: 30px;
}